{{appetizer_name}}
<div class="btn-group" role="group">
	<div class="btn-group" role="group">
		<button class="change-devoured-status btn btn-devour btn-primary btn-sm btn-group" data-id="{{id}}" data-newdevoured="{{devoured}}">
			{{#if devoured}} Devour it! {{else}} Excrete it! {{/if}}
		</button>
	</div>
	<div class="btn-group" role="group">
		<button class="btn btn-delete btn-sm btn-danger">Delete</button>
	</div>
	
</div>

