
<div class="row">
	<div class="well well-sm">
		{{entree_name}}

		<div class="btn-group btn-group-1" role="group">
			<div class="btn-group" role="group">
				<button class="btn btn-delete-entree btn-sm btn-danger" data-id="{{id}}"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
			</div>
		</div>
	</div>
</div>


